<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" ng-app>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topology</title>

  <!-- If you are using CSS version, only link these 2 files, you may add app.css to use for your overrides if you like. -->
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="cubism.v1.min.js" charset="utf-8"></script>

   <script type="text/javascript" src="bower_components/d3-tip/index.js"></script>
  <link rel="stylesheet" href="foundation-5.2.1/css/normalize.css">
  <link rel="stylesheet" href="foundation-5.2.1/css/foundation.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.min.js"></script>
  <script src="zepto.js"></script>
<!--   <link rel="stylesheet" href="tooltip.css"> -->
<!--       <link rel="stylesheet" href="//rawgithub.com/Caged/d3-tip/master/examples/example-styles.css">
 -->  

  <link href="dragdealer.css" rel="stylesheet">
  <script src="dragdealer.js"></script>
    <script> var host = "http://<%= host %>:<%= port %>" </script>
    <script src="clientWLS.js"></script>
    <link rel="stylesheet" href="clientWLS.css">
    <script type="text/javascript">
      $(function() {

        $("#performance").click(function() {
            $("#bar_charts").show();
            $("#topology").hide();
            $("#messages").hide();
        });

        $("#structure").click(function() {
            $("#bar_charts").hide();
            $("#topology").show();
            $("#messages").hide();

        });

        $("#throughput").click(function() {
            $("#bar_charts").hide();
            $("#topology").hide();
            $("#messages").show();
        });

      });
    </script>
</head>
<body>
  <style type="text/css">
html, body {
  /*overflow: hidden;*/
}
</style>
    <nav style="display:none" class="top-bar" data-topbar>
      <ul class="title-area">
          <li class="name">
            <h1><a href="#">WLS Client</a></h1>
          </li>
      </ul>
   
    <section class="top-bar-section">
      <ul class="right">
        <!-- <li class="active"><a href="#">Right Button Active</a></li>
        <li class="has-dropdown">
          <a href="#">Right Button Dropdown</a>
          <ul class="dropdown">
            <li><a href="#">First link in dropdown</a></li>
          </ul> -->
        </li>
      </ul>
      
    </section>
     </nav>

    <h2 style="margin-left:20px;margin-top:10px;">TOPOLOGY 1</h2>
    <!-- CONTENT MAIN -->
    <div id="content">
        <div id="content-left">
          <div id="topology" style="border: 0px solid black;">
          </div>
          <div id="bar_charts" style="display:none;">
          </div>
          <div id="messages" style="display:none;">
          </div>
          <dl class="tabs" data-tab>
            <dd style="display:none;" id="structure" class="active"><a href="#panel2-1"><img src="topology_icon.png" width="30" /></a></dd>
            <dd style="display:none;" id="performance"><a href="#panel2-2"><img src="bar_charts_icon.png" width="30" /></a></dd>
            <dd style="display:none" id="throughput"><a href="#panel2-3"><img src="throughput_icon.png" width="30" /></a></dd>
          </dl>
        </div>
            
        <div id="results" ng-model="results" class="panel" style="display:none;">   
            <div id="title_top"></div>
            <div id="left" style="float:left;width:100%;height:100%;"></div>
            <div id="right" ng-controller="TodoCtrl">
              <div id="operator_form" style="display:none">
                <form ng-submit="addOperator()">
                    <div class="add_operator_field">
                        <label>Peer address</label>
                        <select ng-model="peer">
                            <option>agora.mobile.usilu.net</option>
                            <option>neha.inf.unisi.ch</option>
                        </select>
                    </div>
                    <div class="add_operator_field">
                        <label>Script</label>
                        <select ng-model="script">
                          <option>producer.js</option>
                          <option>filter.js</option>
                          <option>consumer.js</option>
                        </select>
                    </div>
                   <div class="add_workers" style="float:left"> 
                      <label>Workers</label>
                      <div id="demo-simple-slider" class="dragdealer">
                        <div class="handle red-bar"><span class="value"></span></div>
                      </div>
                      <input type="hidden" id='value-hidden' ng-model="workers" />

                      <div class='workers_number'>
                        <span id="sliderOutput"  style="display: block;margin-top: 17px;">10</span>
                      </div>
                    </div>
                   
                    <div style="clear:both;">
                      <input type="submit" value="Create" class="button" />
                    </div>
                  </form>
            </div>
          </div>
    </div>
  </div>
</body>

  <script src="app.js"></script>
  <script src="foundation-5.2.1/js/vendor/jquery.js"></script>
  <script src="foundation-5.2.1/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>


</html>
